* {
   padding: 0;
   margin: 0;
   border: 0;
}
*,
*:before,
*:after {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}
:focus,
:active {
   outline: none;
}
a:focus,
a:active {
   outline: none;
}

nav,
footer,
header,
aside {
   display: block;
}

html,
body {
   height: 100%;
   width: 100%;
   font-size: 100%;
   line-height: 1;
   font-size: 14px;
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
   font-family: inherit;
}
input::-ms-clear {
   display: none;
}
button {
   cursor: pointer;
}
button::-moz-focus-inner {
   padding: 0;
   border: 0;
}
a,
a:visited {
   text-decoration: none;
}
a:hover {
   text-decoration: none;
}
ul li {
   list-style: none;
}
img {
   vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-size: inherit;
   font-weight: 400;
}
/*------------------------------------------------------------------------------*/
body {
   font-family: "PT Sans", sans-serif;
   font-family: "Bebas Neue", cursive;
}
/*------------------------------------------------------------------------------*/
.header {
   color: black;
   padding-top: 30px;
}
.container {
   max-width: 869px;
   margin: 0 auto;
}
@media (max-width: 886px) {
   .container {
      max-width: none;
      padding: 0 10px;
      overflow: hidden;
   }
}
.header__top {
   display: flex;
   justify-content: space-between;
}
.top__lang {
   display: flex;
   justify-content: space-between;
   position: relative;
   z-index: 11;
}
.lang {
   text-decoration: none;
   font-size: 10px;
   line-height: 19px;
   color: #000000;
   text-transform: uppercase;
   letter-spacing: 1px;
   padding: 0 4px;
   margin-right: 5px;
}
.lang.active {
   background-color: #000000;
   color: white;
}
.top__text {
   font-size: 8px;
   text-transform: uppercase;
   letter-spacing: 8px;
   display: flex;
   align-items: center;
   position: relative;
   z-index: 11;
}
.top__link {
   display: flex;
   align-items: center;
   position: relative;
   z-index: 11;
}
.top__link a {
   text-decoration: none;
   color: #000000;
   font-size: 15px;
   text-transform: uppercase;
   text-decoration: underline;
}
.header__mid {
   display: flex;
   /*justify-content: space-between;*/
   align-items: center;
}
.mid__nav-left a,
.mid__nav-righ a {
   font-size: 15px;
   text-transform: uppercase;
   text-decoration: none;
   color: #000000;
}
.mid__nav-left {
   /*flex: 0 1 264px;*/
   flex: 0 0 33.333%;
   display: flex;
   justify-content: space-between;
}
.mid__logo {
   /* flex: 0 0 212px;*/
   flex: 0 0 33.333%;
   display: flex;
   justify-content: center;
   position: relative;
   z-index: 11;
}
.mid__logo img {
   max-width: 100%;
}
.mid__nav-righ {
   /*flex: 0 1 265px;*/
   flex: 0 0 33.333%;
   display: flex;
   justify-content: space-between;
}
.header__bot {
   display: flex;
   justify-content: center;
}
.bot__text {
   font-size: 8px;
   text-transform: uppercase;
   letter-spacing: 8px;
   position: relative;
   z-index: 11;
}
.header__burger {
   display: none;
}
@media (max-width: 768px) {
   .mid__nav-left {
      padding-right: 15px;
   }
   .mid__nav-righ {
      padding-left: 15px;
   }
}
@media (max-width: 460px) {
   body.lock {
      overflow: hidden;
   }
   .top__text,
   .bot__text {
      font-size: 6px;
   }
   .header__mid {
      justify-content: center;
   }
   .header__nav {
      display: block;
      padding: 0;
   }
   .header__nav a {
      display: block;
      text-align: left;
      margin-bottom: 5px;
   }
   .header__menu {
      position: fixed;
      width: 100%;
      height: 100%;
      overflow: auto;
      top: 0;
      left: -120%;
      background-color: white;
      padding: 100px 10px 20px 10px;
      transition: all 0.6s ease 0s;
   }
   .header__menu.active {
      left: 0;
   }
   .header__burger {
      display: block;
      position: absolute;
      width: 30px;
      height: 20px;
      z-index: 3;
      top: 60px;
   }
   .header__burger span {
      position: absolute;
      background-color: #000;
      left: 0;
      width: 100%;
      height: 2px;
      top: 9px;
      transition: all 0.3s ease 0s;
   }
   .header__burger::before,
   .header__burger::after {
      content: "";
      background-color: #000;
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
      transition: all 0.3s ease 0s;
   }
   .header__burger::before {
      top: 0;
   }
   .header__burger::after {
      bottom: 0;
   }
   .header__burger.active:before {
      transform: rotate(45deg);
      top: 9px;
   }
   .header__burger.active::after {
      transform: rotate(-45deg);
      bottom: 9px;
   }
   .header__burger.active span {
      transform: scale(0);
   }
}
/*------------------------------------------------------------------------------*/
.content {
   padding-top: 33px;
}
.privat__row {
   display: flex;
}
.privat__img {
   flex: 0 0 50%;
}
.privat__img img {
   width: 100%;
   height: 100%;
}
.privat__body {
   flex: 0 1 50%;
   color: white;
   background-color: black;
   padding: 82px 20px 20px 60px;
}
.privat__title {
   font-size: 50px;
   text-transform: uppercase;
   letter-spacing: 5px;
}
.privat__text {
   font-family: "PT Sans", sans-serif;
   font-size: 15px;
   line-height: 25px;
   margin-top: 20px;
}
.privat__btns {
   font-size: 15px;
   line-height: 40px;
   text-transform: uppercase;
   letter-spacing: 1.5px;
   margin-top: 70px;
}
.privat__btn1 {
   display: inline-flex;
   color: #000000;
   background-color: white;
   padding: 0 33px;
   align-items: center;
}
.privat__btn2 {
   color: white;
   text-decoration: underline;
   padding: 0 33px;
}
@media (max-width: 768px) {
   .privat__btns {
      margin-top: 30px;
   }
   .privat__img {
      display: none;
   }
   .privat__body {
      flex: 0 0 100%;
   }
   .privat__body {
      padding-top: 20px;
   }
}
@media (max-width: 425px) {
   .content {
      padding-top: 10px;
   }
}
@media (max-width: 368px) {
   .privat__text {
      font-size: 11px;
   }
   .privat__btn1 {
      padding: 0 15px;
   }
   .privat__btn2 {
      padding: 0 15px;
   }
}
/*------------------------------------------------------------------------------*/
.menu {
   padding-top: 75px;
}
.menu__row {
   display: flex;
}
.menu__column {
   flex: 0 0 25%;
   padding-bottom: 10px;
}
.menu__item {
   /* делаем чтобы колонки не ломались от количества текста*/
   display: flex;
   flex-direction: column;
   height: 100%;
}
.item__img {
   flex: 0 0 220px;
}
.item__img img {
   width: 100%;
   height: 100%;
}
.item__title {
   font-size: 25px;
   text-transform: uppercase;
   letter-spacing: 2.5px;
   margin-top: 20px;
   margin-left: 6px;
}
.item__text {
   font-family: "PT Sans", sans-serif;
   font-size: 15px;
   line-height: 25px;
   margin-top: 30px;
   max-width: 185px;
   margin-left: 6px;
   flex: 1 1 auto; /* делаем чтобы колонки не ломались от количества текста*/
}
.item__btn {
   margin-left: 6px;
   background-color: black;
   line-height: 50px;
   width: 155px;
   text-align: center;
   margin-top: 32px;
}
.item__btn a {
   color: white;
   font-size: 15px;
   letter-spacing: 1.5px;
   text-transform: uppercase;
}
.item__view {
   margin-left: 6px;
   font-size: 15px;
   text-decoration: underline;
   text-transform: uppercase;
   letter-spacing: 1.5px;
   margin-top: 29px;
}
.item__view a {
   color: black;
}
@media (max-width: 768px) {
   .menu {
      padding-top: 25px;
   }
   .item__title {
      margin-top: 15px;
   }
}
@media (max-width: 650px) {
   .menu__column {
      flex: 0 0 50%;
   }
   .menu__row {
      flex-wrap: wrap;
   }
   .item__text {
      margin-top: 10px;
   }
}
@media (max-width: 425px) {
   .item__btn {
      margin-top: 8px;
   }
   .item__view {
      margin-top: 10px;
   }
}
@media (max-width: 340px) {
   .menu__column {
      flex: 0 1 100%;
   }
}
/*------------------------------------------------------------------------------*/
.why {
   padding-top: 79px;
}
.why__row {
   display: flex;
}
.why__title {
   flex: 0 1 50%;
   color: white;
   background-color: black;
   font-size: 50px;
   text-transform: uppercase;
   letter-spacing: 5px;
   display: flex;
   justify-content: end;
   align-items: center;
   padding-right: 60px;
}
.why__img {
   flex: 0 0 50%;
}
.why__img img {
   width: 100%;
   height: 100%;
}
@media (max-width: 776px) {
   .why__img {
      display: none;
   }
   .why__title {
      flex: 0 0 100%;
      justify-content: center;
      padding-right: 0px;
      line-height: 80px;
   }
   .why {
      padding-top: 12px;
   }
}

@media (max-width: 330px) {
   .why__title {
      font-size: 30px;
   }
}
/*------------------------------------------------------------------------------*/
.fresh {
   padding-top: 50px;
   background-color: #ebebeb;
}
.fresh__row {
   display: flex;
   flex-wrap: wrap;
   margin: 0 -15px;
}
.fresh__column {
   flex: 0 1 50%;
   padding: 0 15px;
}
.fresh__item {
   display: flex;
   margin-bottom: 50px;
}
.fresh__img {
   flex: 0 0 100px;
   max-height: 100px;
   background-color: black;
}
.fresh__img img {
   width: 100%;
}
.fresh__body {
   margin-left: 12px;
}
.fresh__title {
   font-size: 25px;
   text-transform: uppercase;
   letter-spacing: 2.5px;
}
.fresh__text {
   font-family: "PT Sans", sans-serif;
   font-size: 15px;
   line-height: 25px;
   margin-top: 30px;
}
@media (max-width: 890px) {
   .fresh__column {
      flex: 0 0 100%;
   }
}
@media (max-width: 425px) {
   .fresh {
      padding-top: 20px;
   }
   .fresh__item {
      margin-bottom: 12px;
   }
}
@media (max-width: 375px) {
   .fresh__title {
      font-size: 20px;
   }
   .fresh__text {
      margin-top: 10px;
      line-height: 16px;
      font-size: 12px;
   }
}
/*------------------------------------------------------------------------------*/
.hello {
   padding-top: 60px;
}
.hello__title {
   font-size: 50px;
   text-transform: uppercase;
   letter-spacing: 5px;
}
.hello__row {
   display: flex;
   flex-wrap: wrap;
}
.hello__column {
   flex: 0 1 50%;
}
.hello__item {
   margin-top: 35px;
   display: flex;
   align-items: center;
}
.hello__item a {
   color: #000000;
   font-size: 15px;
   text-transform: none;
}
.hello__item img {
   margin-right: 10px;
}
.f,
.t,
.i,
.g {
   margin-right: 31px;
}
@media (max-width: 768px) {
   .hello {
      padding-top: 20px;
   }
   @media (max-width: 425px) {
      .hello__column {
         flex: 0 1 100%;
      }
   }
   .hello__item {
      margin-top: 15px;
   }
}
/*------------------------------------------------------------------------------*/
.form {
   padding-top: 28px;
}
.form__row {
   display: flex;
}
.form__img {
   flex: 0 0 50%;
}
.form__img img {
   width: 100%;
   height: 100%;
}
.form__body {
   flex: 0 1 50%;
   background-color: #000000;
   color: white;
   padding-left: 60px;
}
.form__title {
   margin-top: 54px;
   font-size: 25px;
   text-transform: uppercase;
   letter-spacing: 2.5px;
   margin-bottom: 28px;
}
.form__form {
   display: inline-flex;
   flex-direction: column;
   padding-bottom: 20px;
}
.form__form input,
.form__form textarea {
   font-size: 15px;
   color: #959595;
   font-family: "PT Sans", sans-serif;
   width: 374px;
   background-color: #252525;
   margin-bottom: 25px;
   border: 1px solid #959595;
   padding: 14px 0 14px 20px;
}
.form__form textarea {
   height: 100px;
   resize: none;
}
.form__btn a {
   color: #000000;
   font-size: 18px;
   text-transform: uppercase;
   letter-spacing: 1.5px;
   line-height: 40px;
}
.form__btn {
   max-width: 150px;
   display: inline-block;
   padding: 0 15px;
}
@media (max-width: 870px) {
   .form__img {
      display: none;
   }
   .form__body {
      flex: 0 0 100%;
   }
}
@media (max-width: 425px) {
   .form__form input,
   .form__form textarea {
      width: 300px;
   }
   .form__title {
      margin-top: 30px;
   }
}
@media (max-width: 375px) {
   .form__form input,
   .form__form textarea {
      width: 250px;
   }
}
@media (max-width: 320px) {
   .form__form input,
   .form__form textarea {
      width: 200px;
   }
}

/*------------------------------------------------------------------------------*/
.footer {
   padding: 35px 0;
}
.footer__row {
   display: flex;
   align-items: center;
}
.footer__text {
   display: flex;
   font-family: "PT Sans", sans-serif;
   color: #4d4d4d;
   font-size: 15px;
   flex: 0 0 50%;
   justify-content: center;
}
.footer__text p {
   text-decoration: underline;
}
.footer__logo {
   flex: 0 0 50%;
   display: flex;
   justify-content: center;
}
@media (max-width: 768px) {
   .footer {
      padding: 10px 0;
   }
   @media (max-width: 460px) {
   }
   .footer__text {
      display: none;
   }
   .footer__logo {
      flex: 0 0 100%;
      display: flex;
      justify-content: center;
   }
}
